<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,2_9.3.2_13F69_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-37546-072.dmg</string>
			<key>IV</key>
			<string>0520fb802aee63aca935a17b968f528a</string>
			<key>Key</key>
			<string>19c1570272ec2ed576eefc0391827e969e3b4e05a06b104aa044ae9dd3730296</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>3aaad244db569c3afe02c3343fe4110e</string>
			<key>Key</key>
			<string>3b16c68b9f85d10dc1e2c1fa0f6b9641be6b3a65537e4a990da920be75ef210c</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>bfdaeab19b0c44d514088363a6045a17</string>
			<key>Key</key>
			<string>518b2f728d835b0217e76bb72ddc52309c70eaddc0a0e0aa007cbf30ef12d165</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>40d87fdd6f3f32e76f905837627669c4</string>
			<key>Key</key>
			<string>16711988e9628d67b251ab1c3193e751d1007ccc6c92c647fdc2659a24e213b8</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>f10093cd194acb8aba9346e37527dc71</string>
			<key>Key</key>
			<string>4fb9ac59fa9ed5d18f948d428e27ba3923f159298e1716debe4bfc89cc1cc42b</string>
			<key>Patch</key>
			<string>iBEC.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>a290f6b9abe73f7fe642de843248eb3b</string>
			<key>Key</key>
			<string>b6d5047917168d2bb18f9116ab6c90f861d558b33b11aa980637d341ae276b1d</string>
			<key>Patch</key>
			<string>iBSS.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,2_9.3.2_13F69</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-37562-072.dmg</string>
	<key>RootFilesystemKey</key>
	<string>744ae60a8726a1cc8a3a52f4a0d1aa6a716c47af72fbd434f7d02a8d85d7be16851bc74c</string>
	<key>RootFilesystemMountVolume</key>
	<string>Frisco13F69.N42OS</string>
	<key>RootFilesystemSize</key>
	<integer>2200</integer>
	<key>SHA1</key>
	<string>86958bc1900178dd48e1c0324a7ae85360af1e75</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
