<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProductBuildVersion</key>
	<string>11B651</string>
	<key>ProductCopyright</key>
	<string>1983-2013 Apple Inc.</string>
	<key>ProductName</key>
	<string>iPhone OS</string>
	<key>ProductVersion</key>
	<string>7.0.6</string>
        <key>ReleaseType</key>
        <string>Internal</string>
        <key>ProductType</key>
        <string>Internal</string>
</dict>
</plist>
