iPhone6,1_7.1.2_11D257_Restore.ipsw
iPhone6,1_8.4.1_12H321_Restore.ipsw
checkra1n-kpf-pongo
Darwin/.compiled
kcache_15A5278f.raw
kernelcache_15A5278f.dec
iPhone_4.7_11.0_15A5278f_Restore.ipsw
Carrier_Bundles.tar
data_ark.plist
trustcache
dyld_shared_cache_arm64.*
trustcache.*
mnt1.*
mnt2.*
mnt3.*
avefw.*
aopfw.*
homerfw.*
multitouch.*
audiocodecfirmware.*
disk0*
containermanagerd.*
com.apple.commcenter*
activation_records
IC-Info.sisv
fstab.*
java/
logs
trustcache.*
ramdisk.*
mnt2.tar
mnt2-done.tar
target
kernelcache*
BuildManifest.plist
DeviceTree*
devicetree*
sep-firmware*
rw.dmg
RestoreRamDisk*
iBSS*
iBEC*
IM4M
ios7*
ios8*
OS*
dtree.raw
apticket.der
*.dmg
keybags
Baseband
work
work.tar.gz
work2
kc.bpatch
kc2.bpatch
kcache.raw
kcache.patched
kcache.patched2
kcache2.patched
kcache3.patched
kcache4.patched
kcache5.patched
kcache6.patched
kcache7.patched
beta2*
full*
NoMoreSIGABRT*
media*
Restore.plist
kpp.bin
.DS_Store
mobactivationd.*
*.bin
wireless
local
firmware
FUD
com.apple.factorydata
com.apple.datamigrator*
lockdownd.*
securityd.*
SystemVersion.plist*
kcache_12A4331d.raw
kernelcache_12A4331d.dec
*.swp
