<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>AboutController</string>
			<key>label</key>
			<string>About</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PSBadgedTableCell</string>
			<key>detail</key>
			<string>SoftwareUpdatePrefController</string>
			<key>id</key>
			<string>SOFTWARE_UPDATE_LINK</string>
			<key>label</key>
			<string>SOFTWARE_UPDATE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>SIRI_INSERT_POINT</string>
		</dict>
		<dict>
			<key>bundle</key>
			<string>Assistant</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>id</key>
			<string>SIRI</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Siri</string>
			<key>requiredCapabilities</key>
			<array>
				<string>assistant</string>
			</array>
		</dict>
		<dict>
			<key>bundle</key>
			<string>SearchSettings</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>requiredCapabilities</key>
			<array>
				<dict>
					<key>multitasking</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>PSLargeTextController</string>
			<key>label</key>
			<string>TEXT_SIZE</string>
		</dict>
		<dict>
			<key>bundle</key>
			<string>AccessibilitySettings</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>ACCESSIBILITY</string>
			<key>requiredCapabilities</key>
			<array>
				<string>accessibility</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>MultitaskingGestureExplanationView</string>
			<key>id</key>
			<string>Mutltitasking_Gesture_Group</string>
			<key>requiredCapabilities</key>
			<array>
				<string>multitasking-gestures</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.apple.springboard</string>
			<key>id</key>
			<string>Mutltitasking_Gesture_Switch</string>
			<key>key</key>
			<string>SBUseSystemGestures</string>
			<key>label</key>
			<string>Multitasking_Gestures</string>
			<key>requiredCapabilities</key>
			<array>
				<string>multitasking-gestures</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>Rotation_Switch_Action_Group</string>
			<key>isRadioGroup</key>
			<true/>
			<key>label</key>
			<string>Rotation_Switch_Action_Group_Label</string>
			<key>requiredCapabilities</key>
			<array>
				<string>ipad</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSListItemCell</string>
			<key>id</key>
			<string>Lock_Rotation_Button</string>
			<key>label</key>
			<string>Lock_Rotation</string>
			<key>requiredCapabilities</key>
			<array>
				<string>ipad</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSListItemCell</string>
			<key>id</key>
			<string>Mute_Button</string>
			<key>label</key>
			<string>Mute</string>
			<key>requiredCapabilities</key>
			<array>
				<string>ipad</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>bundle</key>
			<string>UsageSettings</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>USAGE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>AutomaticContentDownloadController</string>
			<key>id</key>
			<string>AUTO_CONTENT_DOWNLOAD</string>
			<key>label</key>
			<string>AUTO_CONTENT_DOWNLOAD</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>PAD_COVER_GROUP</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>deferItemSelection</key>
			<true/>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>get</key>
			<string>screenLock:</string>
			<key>label</key>
			<string>AUTOLOCK</string>
			<key>set</key>
			<string>setScreenLock:specifier:</string>
			<key>validTitles</key>
			<array>
				<string>1_MINUTES</string>
				<string>2_MINUTES</string>
				<string>3_MINUTES</string>
				<string>4_MINUTES</string>
				<string>5_MINUTES</string>
				<string>NEVER</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>60</integer>
				<integer>120</integer>
				<integer>180</integer>
				<integer>240</integer>
				<integer>300</integer>
				<integer>-1</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>customControllerClass</key>
			<string>DevicePINController</string>
			<key>detail</key>
			<string>PasscodeLockController</string>
			<key>get</key>
			<string>passcodeLockEnabled:</string>
			<key>id</key>
			<string>PASSCODE</string>
			<key>label</key>
			<string>PASSCODE</string>
			<key>mode</key>
			<integer>0</integer>
			<key>pane</key>
			<string>DevicePINPane</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>customControllerClass</key>
			<string>RestrictionsPINController</string>
			<key>detail</key>
			<string>RestrictionsController</string>
			<key>get</key>
			<string>parentalControlsEnabled:</string>
			<key>label</key>
			<string>RESTRICTIONS</string>
			<key>mode</key>
			<integer>0</integer>
			<key>pane</key>
			<string>DevicePINPane</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>locksAndUnlocksWithCase:</string>
			<key>id</key>
			<string>PAD_CASE_LOCK_SPEC</string>
			<key>label</key>
			<string>PAD_CASE_LOCK</string>
			<key>requiredCapabilities</key>
			<array>
				<string>ipad</string>
			</array>
			<key>set</key>
			<string>setLocksAndUnlocksWithCase:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>DateTimeController</string>
			<key>label</key>
			<string>DATE_AND_TIME</string>
		</dict>
		<dict>
			<key>bundle</key>
			<string>KeyboardSettings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>PSInternationalController</string>
			<key>label</key>
			<string>INTERNATIONAL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>TV+SYNC+VPN+PROFILES_GROUP</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>TVOutController</string>
			<key>label</key>
			<string>TV_OUT</string>
		</dict>
		<dict>
			<key>bundle</key>
			<string>AirTrafficSettings</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>requiredCapabilities</key>
			<array>
				<string>wifi</string>
			</array>
		</dict>
		<dict>
			<key>bundle</key>
			<string>VPNPreferences</string>
			<key>isController</key>
			<false/>
		</dict>
		<dict>
			<key>bundle</key>
			<string>ManagedConfigurationUI</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>PROFILES</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ResetPrefController</string>
			<key>label</key>
			<string>Reset</string>
		</dict>
	</array>
	<key>title</key>
	<string>General</string>
</dict>
</plist>
