<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,2_9.2_13C75_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-25952-079.dmg</string>
			<key>IV</key>
			<string>680577d3d4df5f30fb8683eca6f5c168</string>
			<key>Key</key>
			<string>88af2c42c037c7126775f169ee8524107b0adde5967cfbff4a2f636efd0d5b7e</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>17deec88a49c65151be0bdeda67be6f1</string>
			<key>Key</key>
			<string>d1255b69f1fc1fcc9acb91e8d6b0883f987b358583513ff5ea03b6e6fe7e1cd5</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>6771fec5b750e13aa6d571121fd6bba6</string>
			<key>Key</key>
			<string>ad8c000be0bc1553ffda113d565345e128d9b9e1f64194043ef03b21f6844e2f</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>db177ef07de5b295a59e89ae82b34722</string>
			<key>Key</key>
			<string>81fabf8a84cd5fd86a5f16fa6c817d8378ae42c409516737c21f3b96e6d7ef1a</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>2ad1ac1cfe0da605bae51b8b46511a7c</string>
			<key>Key</key>
			<string>376275b1a8c51529e69ae01e868c27c1fd2e5637976d9f38935f2bc7bcf52fbd</string>
			<key>Patch</key>
			<string>iBEC.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>8958d8df5c9facede6263f8820f9c727</string>
			<key>Key</key>
			<string>25869acdf7c7510c4322c217694ede0ba070f0fbbd00744f22d5e3b51ed94f05</string>
			<key>Patch</key>
			<string>iBSS.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,2_9.2_13C75</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-26174-078.dmg</string>
	<key>RootFilesystemKey</key>
	<string>9f7d72d87c827f616dd4b54f4747e3c3eb48206f1554ffc473e337faaff7024e02f3108e</string>
	<key>RootFilesystemMountVolume</key>
	<string>Castlerock13C75.N42OS</string>
	<key>RootFilesystemSize</key>
	<integer>2200</integer>
	<key>SHA1</key>
	<string>a1b757a2e29ac130c0bfe529539c226531d9b5a7</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
