<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,2_9.3.5_13G36_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-49199-036.dmg</string>
			<key>IV</key>
			<string>3cdac6e72bdcc6aa2c5cc066267e9549</string>
			<key>Key</key>
			<string>ae0a23ed91c8425d9239b92635cb1274dd4447115b61dd6c164812afc771ed7c</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>f621863d4002cffc6ef72786e87c6592</string>
			<key>Key</key>
			<string>705c22c32fb291a07c160c1fc3b9ac27ba799c00a74a7a785f31d13b44561017</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>2f2b867f7968c97c8b4fc381d2515920</string>
			<key>Key</key>
			<string>980214739bc45b6e1dcade4216d65f6f3f72abee62adc33be92a5899137a3d8e</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>5b65c19f8a4b2645033e0435c1484b01</string>
			<key>Key</key>
			<string>b0bb92961a1bca0166b24c475e3b8d5da31891ed52c8023120bbe0ce8a819c9d</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>d1adff5c7aa50e532c035a79b90d5da6</string>
			<key>Key</key>
			<string>0513a558444019cb1ffc3b176ad70fd83882aed61007e11d759dc3cd53066f06</string>
			<key>Patch</key>
			<string>iBEC.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>02cb95b9e89ab9330f1390d7bce54d54</string>
			<key>Key</key>
			<string>08f1756e61c6f68f66a302c830389830fb82ab1ee91d997d52badd2365b953c9</string>
			<key>Patch</key>
			<string>iBSS.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,2_9.3.5_13G36</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-49065-036.dmg</string>
	<key>RootFilesystemKey</key>
	<string>c1e95d290fffe973f1ff4880137b7b2fa41f8d04a18803a1ad1d6d74db5c20d8ea9c93fd</string>
	<key>RootFilesystemMountVolume</key>
	<string>Genoa13G36.N42OS</string>
	<key>RootFilesystemSize</key>
	<integer>2200</integer>
	<key>SHA1</key>
	<string>f3aca7ece247a03c93707ced44174f5ddedfc1b2</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
