<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,2_9.2.1_13D15_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-32359-015.dmg</string>
			<key>IV</key>
			<string>e2e7e629dd8daa1fb98295850f9c6974</string>
			<key>Key</key>
			<string>29674b863cfecc7816fd8256614180c6c693d2ef640fa8354ee745b1c2e7df4c</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>88b9cea5be4db4ef3e3bfc249295601d</string>
			<key>Key</key>
			<string>3afd9ee5b237cdd3ff9a29fdf358df532760a47412da3b1c138a5e9953a3283d</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>afc78b4671c2ca2fa7420217b7a735b6</string>
			<key>Key</key>
			<string>9a74c517ba8a399042f089454934cd2a3073fc4a1cdc1eb16f0d12778f67620b</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>73ce7e32b23ea20666b9f9065a4380e9</string>
			<key>Key</key>
			<string>7a0457408683dbe30c671204b4870d8bf5838caadfe75683b73247d59e87f35d</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>8865d81e0e317cf30b7168742737e0f0</string>
			<key>Key</key>
			<string>b3c3980845e6d1b0d3ab5cae8cdf9ce20b16fd04f19a19fa80f15952b348d760</string>
			<key>Patch</key>
			<string>iBEC.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>55abdba578f7f822d56ea16a5bc36941</string>
			<key>Key</key>
			<string>8b744bd36a924a6f5cba9f0ee7f8ab8164986ab884a414b20508cb86e1b98e7c</string>
			<key>Patch</key>
			<string>iBSS.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,2_9.2.1_13D15</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-32162-015.dmg</string>
	<key>RootFilesystemKey</key>
	<string>fe672b9836cf46a73276dfd7989328e3a1ac798bc8a325884ea840a441c549f39b5f4fd8</string>
	<key>RootFilesystemMountVolume</key>
	<string>Dillon13D15.N42OS</string>
	<key>RootFilesystemSize</key>
	<integer>2200</integer>
	<key>SHA1</key>
	<string>e416ec95c6d9261c3e22b787ab59c96b9774a427</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
