<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,2_9.0.1_13A404_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-03706-367.dmg</string>
			<key>IV</key>
			<string>c971df17540aae4a87c8410ae40be664</string>
			<key>Key</key>
			<string>7eaa96af74b4112994dc69e9231d92071e6c293b9285fb5d1e9cf5a6df2515e0</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>bc76c657ff4555c38922baf6a2edcdbc</string>
			<key>Key</key>
			<string>8ece7dcf4d67ef9ffac43be88f5c838e419026394448e2411cfc8ce11c16f5f4</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>089929f82990f5937f3bd74eafeb20d7</string>
			<key>Key</key>
			<string>2f61e8e2099fe2c78e3f385dd22db7d3e55592a9bccc397cc2157dc30181c298</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>a0ca94531ce2f36ca59dbe21136ae6cf</string>
			<key>Key</key>
			<string>bc5141bc9f5093aa3f925cd357197dc2f3ab80eb50dcc9167ad56224dfe4a05d</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>7ea5c253a3ddb5b89c534340f28acfa0</string>
			<key>Key</key>
			<string>9d8f7005b55707a22ec7da20584f96ff62ed1d40e833d620314e295af26489e0</string>
			<key>Patch</key>
			<string>iBEC.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>5e3adb38b33420d0bc2316b702b0df6c</string>
			<key>Key</key>
			<string>910479f88eae14fbf36f64b71398b54b7676ebdfbca17c83775b99d0ced56a1a</string>
			<key>Patch</key>
			<string>iBSS.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,2_9.0.1_13A404</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-07912-301.dmg</string>
	<key>RootFilesystemKey</key>
	<string>535058d72e8d88324d125dc9cdca2b773c43d841e884628858bc954e7f8c4d4fbcd01ae2</string>
	<key>RootFilesystemMountVolume</key>
	<string>Monarch13A404.N42OS</string>
	<key>RootFilesystemSize</key>
	<integer>2200</integer>
	<key>SHA1</key>
	<string>425db7d141a52534c8a39558e47cf8b68327230b</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
