<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,2_9.1_13B143_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-25124-078.dmg</string>
			<key>IV</key>
			<string>faa205fc70995ca14e03abd9f6fa85bc</string>
			<key>Key</key>
			<string>0b5923a9d7edc8a25e32c8144f7391d605117c61b806bbf7dc087d996f4cf5b4</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>5fc0d8f0109f678e8de70c73eb10224c</string>
			<key>Key</key>
			<string>00a723a888a35dc2480d51073158ae6a7a4d430fcabb9b707bf6971985fe65ef</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>ad761e6a2c169632f42b8ae2ff25e0a2</string>
			<key>Key</key>
			<string>1e4c3372f5f47daa98fae1a4e2734cab4fd42a1c5e4ffe23056ab718a4cff08a</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>f31e632e7a9686bc051550d01432afeb</string>
			<key>Key</key>
			<string>e22b27248c7fc3bacd4be14faaa8de5a4a74b340aeb4c7a2d2beb4a9f744538b</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>140c9a4abe1e62216ee602be2d368e28</string>
			<key>Key</key>
			<string>87468dfb40443ecb32c09fe519cccee36ecc55e973416be1c3ef5cf79c8f0ef3</string>
			<key>Patch</key>
			<string>iBEC.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>9e052d77cc7350d6b871d4205cdf96a9</string>
			<key>Key</key>
			<string>181daeacc96ff3a54595f7ebc8822c6f980e51aefa990126b30925a8df0d4cbb</string>
			<key>Patch</key>
			<string>iBSS.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,2_9.1_13B143</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-25403-078.dmg</string>
	<key>RootFilesystemKey</key>
	<string>92ff41b241b0828876d3d344b2750dcad19b99b830560d363bb4c1b021ba3a5168b5e723</string>
	<key>RootFilesystemMountVolume</key>
	<string>Boulder13AB143.N42OS</string>
	<key>RootFilesystemSize</key>
	<integer>2200</integer>
	<key>SHA1</key>
	<string>84d4b5ba31e634d5c463ba1284987f4d7608dcfb</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
