<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,2_9.3.3_13G34_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-49199-034.dmg</string>
			<key>IV</key>
			<string>3b1c260b3f106288c72666255149c577</string>
			<key>Key</key>
			<string>81a31f74ced3248d7ff9ebe14f2636717e387f1b33507c9c365d190dd4e2f3e0</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>505d15d3888dc97592c0d479ad039593</string>
			<key>Key</key>
			<string>01bbff01b63fa944ed81025487ba01f1ad2f3e4184765eea8d4ec392a510f110</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>2e9e6833bc783d1d0f88c218d1dec0ac</string>
			<key>Key</key>
			<string>ef2b869d97123287274bb7f208ca726805e256b5df77fda9113612738e584338</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>183107564e9d84c6672f6982346b68b3</string>
			<key>Key</key>
			<string>8c0b52a208b9f6ad9b637923f111cc1b5c869a43503590949f8358df5da42893</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>4a40d257cf53b0016355b31e0fce398b</string>
			<key>Key</key>
			<string>5817ed097d9227bb8db76f005fbe0ee6ba6e4e77433d23e8f1a8e321c45aa672</string>
			<key>Patch</key>
			<string>iBEC.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>d01c44f8f0707cbadb9e14e915e4138b</string>
			<key>Key</key>
			<string>a989026a6f4ad93e57cef9a6bc218d95019b26726eeaf37aa0cad91850968bb1</string>
			<key>Patch</key>
			<string>iBSS.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,2_9.3.3_13G34</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-49065-034.dmg</string>
	<key>RootFilesystemKey</key>
	<string>67da145061b429b059ecfafafbf32bfa8df7c3d02c0aa544a77c1c6a080af0371390af8c</string>
	<key>RootFilesystemMountVolume</key>
	<string>Genoa13G34.N42OS</string>
	<key>RootFilesystemSize</key>
	<integer>2200</integer>
	<key>SHA1</key>
	<string>37adb8fd05f84bcb0b8229152e08288e0d0af6d1</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
