<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com/ios9.3.4/031-71268-2016008004-B0C7B2BA-578A-11E6-B432-F022D39E04FA/iPhone5,2_9.3.4_13G35_Restore.ipsw</string>
	<key>Filename</key>
	<string>iPhone5,2_9.3.4_13G35_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-49199-035.dmg</string>
			<key>IV</key>
			<string>566825adf5f824acecf163979a30b9ce</string>
			<key>Key</key>
			<string>9327868ed08989a9c59b6cd086b1c489f3d9f2660b6410a48f42e0bc6215390d</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>bd20f78df1233b3b236fec1914853c91</string>
			<key>Key</key>
			<string>00f7ed61fa91885db170bc46b9ff4ce0123531dd930f2a49e3308743ff95f35c</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>1f62749339efdfb85b237ed34916f055</string>
			<key>Key</key>
			<string>a1a65d67064263ffac38b5d7174872c1e72d820265bef1a5355693b156128aec</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>e2a808a242449ca0fcad9319ed9b8d37</string>
			<key>Key</key>
			<string>db717db65a1399630737cb79c80c31777fe5ebbb44b1bb37df0f69d1f0f45190</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>363c23c731ad7a8756ec36aab7132051</string>
			<key>Key</key>
			<string>2df616d03c5b09b8a5be60db7ad6b85de20574e7b9c271d26c1d55806a89a802</string>
			<key>Patch</key>
			<string>iBEC.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>185436ecfed1a50b441198a8ff6f4799</string>
			<key>Key</key>
			<string>174b34db8d72682d6de506ba8e614f6333391394c866a6c4c57a2d1f5aa00914</string>
			<key>Patch</key>
			<string>iBSS.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,2_9.3.4_13G35</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-49065-035.dmg</string>
	<key>RootFilesystemKey</key>
	<string>e8cb388c76d94dfdf4634b09a93f13cf96c71e80df5a375aa6a3fdd65774739b281a78dc</string>
	<key>RootFilesystemMountVolume</key>
	<string>Genoa13G35.N42OS</string>
	<key>RootFilesystemSize</key>
	<integer>2200</integer>
	<key>SHA1</key>
	<string>e1aedabdeec392c9ec3f98bbb04d7deb7fd5e4fc</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
