<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,2_9.3_13E233_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-25481-331.dmg</string>
			<key>IV</key>
			<string>00c248bef20d9d53a9ba61444e447ef7</string>
			<key>Key</key>
			<string>294d35f19e4b781ec1d80558c5fc0d32d1c09aab8c3c7e51c2811b7a2aca5d87</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>096cf9d8bb6a35d279c60534af7c095c</string>
			<key>Key</key>
			<string>d406a23e93cefabbf5dae8ba2b768e79cb7c3fdc5c8b6efd0306ea9375c10134</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>14c4044756bb49c421150c4e3025ffd3</string>
			<key>Key</key>
			<string>47385e16e219bf4c44ea2a3739dfb8e61af8a491880a36afa07c03465c34dbf2</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>e5440d48ffaf702025948e9931a9a2ef</string>
			<key>Key</key>
			<string>28b3b854fbdf1152ef80b205febf47167ba44002dc86a47b70d75983165f22b6</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>e849b2de987c63b9635331d53724018e</string>
			<key>Key</key>
			<string>64eb78899802884bb90fef1640234511181a4ea02e2ccc8c6cc13706bf1846cc</string>
			<key>Patch</key>
			<string>iBEC.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>af03c6b46807255b12f1dcd750d310a6</string>
			<key>Key</key>
			<string>f4d66a2e27f28b818ba28f050e481db79af7d17661430bf9a052025668ee88e1</string>
			<key>Patch</key>
			<string>iBSS.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,2_9.3_13E233</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-25525-330.dmg</string>
	<key>RootFilesystemKey</key>
	<string>781a26977053352b97cd94fb9722e409ed536107b28082849778e07cca6a3d6bed53f3b3</string>
	<key>RootFilesystemMountVolume</key>
	<string>Eagle13E233.N42OS</string>
	<key>RootFilesystemSize</key>
	<integer>2200</integer>
	<key>SHA1</key>
	<string>8afa4be8f17a913f9e0c78cbaf75249df2775f92</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
